---
# Needed for galaxy role gekmihesg.openwrt
ansible_user: root
ansible_connection: ssh
ansible_shell_type: sh
ansible_python_interpreter: /bin/false

# Customizations
openwrt_system_timezone: 'CST6CDT,M3.2.0,M11.1.0'
openwrt_system_zonename: 'America/Chicago'
openwrt_system_ntp_enable_server: '0'
openwrt_system_ntp_servers:
  - '192.168.0.1'
openwrt_network_ipv6: '0'
openwrt_network_proto: 'static'
openwrt_network_netmask: '255.255.255.0'
openwrt_network_ip6assign: '60'
openwrt_network_gateway: '192.168.0.1'
openwrt_network_dns:
  - '192.168.0.1'
openwrt_network_dns_search:
  - 'home.hull.network'
openwrt_network_vlans:
  - name: 'lan'
    vlan_id: '1'
