---
- include_tasks: prep.yaml

- include_tasks: upcompression.yaml

- name: Install/update base packages
  package:
    state: latest
    name: '{{ base_packages }}'
  notify: Reboot system

- include_tasks: remount.yaml
