---
- name: Gather installed package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Determine missing mediamtx dependencies
  ansible.builtin.set_fact:
    mediamtx_missing_packages: >-
      {{ mediamtx_dependencies
        | difference((ansible_facts.packages | default({})).keys() | list) }}

- name: Install dependencies
  ansible.builtin.package:
    name: "{{ mediamtx_missing_packages }}"
    state: present
    update_cache: true
  when: mediamtx_missing_packages | length > 0
  notify: Restart mediamtx

- name: Enable SPI interface
  ansible.builtin.include_tasks: enable_spi.yaml

- name: Enable GPIO audio
  ansible.builtin.include_tasks: enable_gpio_audio.yaml
  when: gpio_audio | default(false)

- name: Create MediaMTX user
  ansible.builtin.user:
    name: mediamtx
    system: true
    shell: /bin/false
    comment: "User for running MediaMTX service"
  notify: Restart mediamtx

- name: Ensure MediaMTX user has access to camera and audio
  ansible.builtin.user:
    name: mediamtx
    groups: video,audio
    append: true
  notify: Restart mediamtx

- name: Create log directory for MediaMTX
  ansible.builtin.file:
    path: /var/log/mediamtx
    state: directory
    mode: '0755'
    owner: mediamtx
    group: mediamtx
  notify: Restart mediamtx

- name: Check if checksum index already cached
  delegate_to: localhost
  ansible.builtin.stat:
    path: "/tmp/mediamtx_v{{ mediamtx_version }}_checksums.sha256"
  register: mediamtx_checksums_stat

- name: Retrieve mediamtx checksum index
  delegate_to: localhost
  ansible.builtin.get_url:
    url: "{{ mediamtx_dl_base }}/checksums.sha256"
    dest: "/tmp/mediamtx_v{{ mediamtx_version }}_checksums.sha256"
    mode: "0644"
    force: no
  when: not mediamtx_checksums_stat.stat.exists

- name: Extract SHA256 for desired package
  delegate_to: localhost
  ansible.builtin.set_fact:
    image_sha256: >-
      {{ (
          lookup('file', '/tmp/mediamtx_v' ~ mediamtx_version ~ '_checksums.sha256')
          .splitlines()
          | select('search', mediamtx_package_name)
          | first
        ).split()[0] }}

- name: Download mediamtx package to controller
  delegate_to: localhost
  ansible.builtin.get_url:
    url: "{{ mediamtx_dl_base }}/{{ mediamtx_package_name }}"
    dest: "/tmp/{{ mediamtx_package_name }}"
    mode: "0644"
    checksum: "sha256:{{ image_sha256 }}"
    force: no

- name: Ensure mediamtx extract dir exists on controller
  delegate_to: localhost
  ansible.builtin.file:
    path: "/tmp/mediamtx_v{{ mediamtx_version }}_{{ mediamtx_arch }}"
    state: directory
    mode: "0755"

- name: Extract mediamtx package on controller
  delegate_to: localhost
  ansible.builtin.unarchive:
    src: "/tmp/{{ mediamtx_package_name }}"
    dest: "/tmp/mediamtx_v{{ mediamtx_version }}_{{ mediamtx_arch }}"
    remote_src: true
    creates: "/tmp/mediamtx_v{{ mediamtx_version }}_{{ mediamtx_arch }}/mediamtx"

- name: Install mediamtx binary on device
  ansible.builtin.copy:
    src: "/tmp/mediamtx_v{{ mediamtx_version }}_{{ mediamtx_arch }}/mediamtx"
    dest: "/usr/local/bin/mediamtx"
    owner: root
    group: root
    mode: "0755"
  notify: Restart mediamtx

- name: Copy MediaMTX configuration
  ansible.builtin.template:
    src: mediamtx_config.yaml.j2
    dest: /usr/local/etc/mediamtx.yml
    mode: '0644'
    owner: root
    group: root
  notify: Restart mediamtx

- name: Deploy systemd service for MediaMTX
  ansible.builtin.copy:
    src: mediamtx.service
    dest: /etc/systemd/system/mediamtx.service
    mode: '0644'
    owner: root
    group: root
  notify: Reload systemd

- name: Set mic capture level
  ansible.builtin.include_tasks: set_volume.yaml