---
- name: Remount backup drive to RW
  command:
    cmd: mount -o remount,rw {{ backup_drive }}
  delegate_to: "{{ backup_server }}"

- name: Run btrbk run
  command:
    cmd: btrbk run
  register: btrbk_run

- name: btrbk output
  debug:
    var: btrbk_run.stdout_lines
  when: btrbk_run is defined

- name: Remount backup drive to RO
  command:
    cmd: mount -o remount,ro {{ backup_drive }}
  delegate_to: "{{ backup_server }}"
  