---
- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes
  listen:
    - Reload systemd

- name: Restart MediaMTX service
  ansible.builtin.systemd:
    name: mediamtx
    state: restarted
    enabled: true
  listen:
    - Restart mediamtx
  when: not (mediamtx_reboot_required | default(false))

- name: Reboot system
  reboot:
    pre_reboot_delay: "{{ 15 | random(start=5) }}"  #Needed on some OS's, especially systemd based
    reboot_timeout: "{{ reboot_timeout | default(600) }}"
    post_reboot_delay: "{{ post_reboot_delay | default(60) }}"
    test_command: hostname
  listen: mediamtx_reboot_requried