---

- name: Set dtoverlay for GPIO audio
  lineinfile:
    path: /boot/firmware/config.txt
    line: dtoverlay=audremap,pins_18_19
    insertafter: '^\[all\]'
    owner: root
    group: root
    mode: '0755'
  when: gpio_audio
  notify: Reboot device

- name: Reboot immediately so next command does not fail
  ansible.builtin.meta: flush_handlers

- name: Set audio mapping in raspi-config
  shell:
    cmd: raspi-config nonint do_audio 1
  notify: Reboot device
