[Unit]
Wants=network.target
After=network.target dev-video0.device
StartLimitIntervalSec=0

[Service]
User=mediamtx
Group=mediamtx
ExecStart=/usr/local/bin/mediamtx /usr/local/etc/mediamtx.yml
WorkingDirectory=/usr/local/etc
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
