---
### This makes the SYS LED flash in the Quake/Valve light flicker pattern.
### https://www.alanzucconi.com/2021/06/15/valve-flickering-lights/)

- name: Check if sleep package is installed
  raw: "opkg status coreutils-sleep"
  register: sleep_package_status
  changed_when: false
  failed_when: false
  check_mode: false

- name: Install coreutils-sleep
  block:
    - name: Update opkg
      raw: "opkg update && opkg install coreutils-sleep"
  when:
    - sleep_package_status is defined
    - sleep_package_status.stdout_lines is defined
    - "'Status: install' not in sleep_package_status.stdout_lines"

- name: Template the init script
  template:
    src: quake_flicker.j2
    dest: /etc/init.d/quake_flicker
    user: root
    group: root
    mode: "0755"

- name: Enable and start the quake_flicker service
  raw: "service quake_flicker enable && service quake_flicker start"